<h1>
  Add a new actor
</h1>


<hr>

<!-- Form actor start -->
<form action="/create_actor" method="post">
<!-- Form actor end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for dob start -->
  <div class="form-group">
    <label for="dob">
      Dob
    </label>

    <!-- Input for dob start -->
    <input type="text" id="dob" name="dob" class="form-control">
    <!-- Input for dob end -->
  </div>
  <!-- Label and input for dob end -->

  <!-- Label and input for bio start -->
  <div class="form-group">
    <label for="bio">
      Bio
    </label>

    <!-- Input for bio start -->
    <textarea id="bio" name="bio" class="form-control" rows="3"></textarea>
    <!-- Input for bio end -->
  </div>
  <!-- Label and input for bio end -->

  <!-- Label and input for roles start -->
  <div class="form-group">
    <label for="roles">
      Roles
    </label>

    <!-- Input for roles start -->
    <input type="text" id="roles" name="roles" class="form-control">
    <!-- Input for roles end -->
  </div>
  <!-- Label and input for roles end -->

  <button class="btn btn-block btn-outline-secondary">
    Create actor
  </button>
</form>

<hr>

<a href="/actors">
  Go back
</a>
