<h1>
  Add a new bookmark
</h1>


<hr>

<form action="/create_bookmark" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :created_at, @bookmark.user_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create bookmark
  </button>
</form>

<hr>

<a href="/bookmarks">
  Go back
</a>
