<h1>
  Edit watch list #<%= @watch_list.id %>
</h1>

<hr>

<form action="/update_watch_list/<%= @watch_list.id %>" method="post">

  <div class="form-group">
    <label for="watchlist_id">
      Watchlist
    </label>

    <input type="text" id="watchlist_id" name="watchlist_id" class="form-control" value="<%= @watch_list.watchlist_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update watch list
  </button>
</form>

<hr>

<a href="/watch_lists">
  Go back
</a>
