<h1>
  Add a new watch list
</h1>


<hr>

<!-- Form watch_list start -->
<form action="/create_watch_list" method="post">
<!-- Form watch_list end -->

  <!-- Label and input for watchlist_id start -->
  <div class="form-group">
    <label for="watchlist_id">
      Watchlist
    </label>

    <!-- Input for watchlist_id start -->
    <input type="text" id="watchlist_id" name="watchlist_id" class="form-control">
    <!-- Input for watchlist_id end -->
  </div>
  <!-- Label and input for watchlist_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create watch list
  </button>
</form>

<hr>

<a href="/watch_lists">
  Go back
</a>
