<h1>
  Add a new watch list
</h1>


<hr>

<form action="/create_watch_list" method="post">

  <div class="form-group">
    <label for="watchlist_id">
      Watchlist
    </label>

    <input type="text" id="watchlist_id" name="watchlist_id" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create watch list
  </button>
</form>

<hr>

<a href="/watch_lists">
  Go back
</a>
